# User-specific PyCharm/IntelliJ files
workspace.xml
tasks.xml
usage.statistics.xml
shelf/
copilotDiffState.xml
vcs.xml
modules.xml
*.iws
dataSources/
dataSources.ids
dataSources.local.xml
sqlDataSources.xml
dynamic.xml
uiDesigner.xml
gradle.xml
libraries/
jarRepositories.xml
compiler.xml
misc.xml
deploymentTargetDropDown.xml

