name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Create whl2conda-dev conda environment
      run: |
        conda env update --file environment.yml
        conda activate whl2conda-dev
    - name: Lint with pylint, mypy and black
      run: |
        make lint
    - name: Test with pytest
      run: |
        make coverage
